.mainbody{
    width: auto;
    padding: 10px;
    margin: 100px auto;
    justify-content: center;
    display: flex;
    
}

.pic{
    width:inherit;
    height:inherit;
    backface-visibility: hidden;
}

.box{
    width: 250px;
    height: 150px;
    background: orange;
    margin: 0px 10px;
    transition: 1s;
}

.box:hover{
    transform: scale(1.3);
    z-index: 4;
    box-shadow: 2px 2px 2px 2px #ddd;
}

.box1{
    width: 250px;
    height: 150px;
    background: orange;
    margin: 0px 10px;
    transition: 1s;
}

.box1:hover{
    transform: scale(1.3);
    z-index: 4;
    box-shadow: 2px 2px 2px 2px #ddd;
}